openapi: 3.0.0
info:
  title: XeoDocs API
  description: API for managing translations of open-source technology documentation using AI at xeodocs.com.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.xeodocs.com
    description: Production server
  - url: http://dev-api.xeodocs.com
    description: Development server
paths:
  /v1/auth/register:    
    post:
      operationId: registerUser
      summary: Register a new user (admin only)
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
  /v1/auth/login:
    post:
      operationId: login
      summary: Login and obtain JWT token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid credentials
        '500':
          description: Internal server error
      security: []
  /v1/roles:
    post:
      operationId: createRole
      summary: Create a new role (admin only)
      tags: [User Roles]
      security: [{bearerAuth: []}]
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        '201': { $ref: '#/components/responses/Role' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      operationId: listRoles
      summary: List roles (paginated)
      tags: [User Roles]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Paginated role list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRoles'
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/roles/{id}:
    get:
      operationId: getRole
      summary: Get a role by ID
      tags: [User Roles]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/RoleId'
      responses:
        '200': { $ref: '#/components/responses/Role' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateRole
      summary: Update role name (admin only)
      tags: [User Roles]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/RoleId'
      requestBody:
        $ref: '#/components/requestBodies/UpdateRoleRequest'
      responses:
        '200': { $ref: '#/components/responses/Role' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteRole
      summary: Delete a role (admin only)
      tags: [User Roles]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/RoleId'
      responses:
        '204': { description: No content }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/users:
    post:
      operationId: createUser
      summary: Create a new user (admin only)
      tags: [Users]
      security: [{bearerAuth: []}]
      requestBody:
        $ref: '#/components/requestBodies/CreateUserRequest'
      responses:
        '201': { $ref: '#/components/responses/User' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      operationId: listUsers
      summary: List users (admin only)
      tags: [Users]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Paginated user list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/users/{id}:
    get:
      operationId: getUser
      summary: Get user details (admin or self)
      tags: [Users]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200': { $ref: '#/components/responses/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateUser
      summary: Update user (admin or self)
      tags: [Users]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserRequest'
      responses:
        '200': { $ref: '#/components/responses/User' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteUser
      summary: Delete user (admin only)
      tags: [Users]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '204': { description: No content }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/users/{id}/password:
    patch:
      operationId: changePassword
      summary: Change user password (admin or self)
      tags: [Users]
      security: [{bearerAuth: []}]
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        $ref: '#/components/requestBodies/ChangePasswordRequest'
      responses:
        '204': { description: Password updated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/projects:
    post:
      operationId: createProject
      summary: Create a new project
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
    get:
      operationId: listProjects
      summary: List projects
      tags:
        - Projects
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          description: Number of items per page
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
  /v1/projects/{id}:
    get:
      operationId: getProject
      summary: Get project details
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
        '404':
          description: Project not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
    put:
      operationId: updateProject
      summary: Update project
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '404':
          description: Project not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      operationId: deleteProject
      summary: Delete project
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Project deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Project not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
  /v1/projects/{id}/status:
    get:
      operationId: getProjectStatus
      summary: Get translation and build status for the project
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: lang
          in: query
          schema:
            type: string
          description: Specific language code; omit for overall status
      responses:
        '200':
          description: Status details
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: completed
                  lastUpdated:
                    type: string
                    format: date-time
                  details:
                    type: object
                    additionalProperties:
                      type: string
        '401':
          description: Unauthorized
        '404':
          description: Project not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
  /v1/logs:
    get:
      operationId: queryLogs
      summary: Query logs
      tags:
        - Logs
      parameters:
        - name: type
          in: query
          schema:
            type: string
          description: Filter by log type (e.g., 'event', 'user', 'system', 'cron')
        - name: userId
          in: query
          schema:
            type: integer
          description: Filter by user ID
        - name: projectId
          in: query
          schema:
            type: integer
          description: Filter by project ID
        - name: level
          in: query
          schema:
            type: string
          description: Filter by log level (e.g., 'info', 'warn', 'error')
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          description: Number of items per page
      responses:
        '200':
          description: List of logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      security:
        - bearerAuth: []
  /v1/analytics/track:
    post:
      operationId: trackEvent
      summary: Track analytics event from static site
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackEventRequest'
      responses:
        '200':
          description: Event tracked successfully
        '400':
          description: Invalid event data
        '429':
          description: Too many requests
      security: []
  /v1/analytics/{projectSlug}:
    get:
      operationId: getAnalytics
      summary: Get traffic analytics for a project
      tags:
        - Analytics
      parameters:
        - name: projectSlug
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
          description: Language code filter
        - name: dateRange
          in: query
          schema:
            type: string
            enum: [last_7_days, last_30_days, last_90_days]
            default: last_7_days
          description: Date range for analytics
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Project not found
      security:
        - bearerAuth: []
  /v1/analytics/{projectSlug}/pages:
    get:
      operationId: getPageAnalytics
      summary: Get page-level analytics for a project
      tags:
        - Analytics
      parameters:
        - name: projectSlug
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
          description: Language code filter
        - name: dateRange
          in: query
          schema:
            type: string
            enum: [last_7_days, last_30_days, last_90_days]
            default: last_7_days
          description: Date range for analytics
      responses:
        '200':
          description: Page analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAnalyticsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Project not found
      security:
        - bearerAuth: []
  /v1/analytics/{projectSlug}/referrers:
    get:
      operationId: getReferrerAnalytics
      summary: Get referrer analytics for a project
      tags:
        - Analytics
      parameters:
        - name: projectSlug
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
          description: Language code filter
        - name: dateRange
          in: query
          schema:
            type: string
            enum: [last_7_days, last_30_days, last_90_days]
            default: last_7_days
          description: Date range for analytics
      responses:
        '200':
          description: Referrer analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferrerAnalyticsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Project not found
      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    RoleId:
      name: id
      in: path
      required: true
      schema: { type: integer }
    UserId:
      name: id
      in: path
      required: true
      schema: { type: integer }
    Page:
      name: page
      in: query
      schema: { type: integer, default: 1 }
    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 10 }
  requestBodies:
    CreateRoleRequest:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CreateRoleRequest' }
    UpdateRoleRequest:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/UpdateRoleRequest' }
    CreateUserRequest:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CreateUserRequest' }
    UpdateUserRequest:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/UpdateUserRequest' }
    ChangePasswordRequest:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ChangePasswordRequest' }
  responses:
    Role:
      description: Role object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Role' }
    User:
      description: User object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/User' }
    BadRequest:
      description: Bad request
    Unauthorized:
      description: Unauthorized
    NotFound:
      description: Not found
  schemas:
    RegisterRequest:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
        roleId:
          type: integer
          description: Optional role ID (admin only)
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
    LoginResponse:
      type: object
      properties:
        token:
          type: string
    User:
      type: object
      properties:
        userId:
          type: integer
        username:
          type: string
        email:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        createdAt:
          type: string
          format: date-time
    Role:
      type: object
      properties:
        roleId:
          type: integer
        name:
          type: string
        createdAt:
          type: string
          format: date-time
    CreateProjectRequest:
      type: object
      required:
        - name
        - docUrl
        - repoUrl
        - languages
        - buildCommand
        - previewCommand
      properties:
        name:
          type: string
        docUrl:
          type: string
        repoUrl:
          type: string
        languages:
          type: array
          items:
            type: string
        buildCommand:
          type: string
        exportCommand:
          type: string
        previewCommand:
          type: string
    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
        docUrl:
          type: string
        repoUrl:
          type: string
        languages:
          type: array
          items:
            type: string
        buildCommand:
          type: string
        exportCommand:
          type: string
        previewCommand:
          type: string
    Project:
      type: object
      properties:
        projectId:
          type: integer
        name:
          type: string
        docUrl:
          type: string
        repoUrl:
          type: string
        languages:
          type: array
          items:
            type: string
        buildCommand:
          type: string
        exportCommand:
          type: string
        previewCommand:
          type: string
        createdAt:
          type: string
          format: date-time
    Log:
      type: object
      properties:
        logId:
          type: integer
        type:
          type: string
        message:
          type: string
        userId:
          type: integer
        projectId:
          type: integer
        timestamp:
          type: string
          format: date-time
        level:
          type: string
    CreateRoleRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: editor
    UpdateRoleRequest:
      type: object
      properties:
        name:
          type: string
          example: senior-editor
    CreateUserRequest:
      type: object
      required: [username, email, password, roleId]
      properties:
        username:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        roleId:
          type: integer
    UpdateUserRequest:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
          format: email
        roleId:
          type: integer
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 8
    PaginatedRoles:
      type: object
      properties:
        roles: { type: array, items: { $ref: '#/components/schemas/Role' } }
        total: { type: integer }
        page: { type: integer }
        limit: { type: integer }
    PaginatedUsers:
      type: object
      properties:
        users: { type: array, items: { $ref: '#/components/schemas/User' } }
        total: { type: integer }
        page: { type: integer }
        limit: { type: integer }
    TrackEventRequest:
      type: object
      required: [projectSlug, lang, pagePath, timestamp]
      properties:
        projectSlug:
          type: string
          example: tailwindcss
        lang:
          type: string
          example: es
        pagePath:
          type: string
          example: /docs/installation
        referrer:
          type: string
          example: https://google.com
        timestamp:
          type: string
          format: date-time
        eventType:
          type: string
          default: pageview
          example: pageview
        additionalData:
          type: object
          additionalProperties: true
    AnalyticsResponse:
      type: object
      properties:
        totalViews:
          type: integer
        uniqueUsers:
          type: integer
        sessions:
          type: integer
        avgSessionDuration:
          type: number
        topPages:
          type: array
          items:
            type: object
            properties:
              pagePath:
                type: string
              views:
                type: integer
        dateRange:
          type: string
    PageAnalyticsResponse:
      type: object
      properties:
        pages:
          type: array
          items:
            type: object
            properties:
              pagePath:
                type: string
              views:
                type: integer
              uniqueUsers:
                type: integer
        dateRange:
          type: string
    ReferrerAnalyticsResponse:
      type: object
      properties:
        referrers:
          type: array
          items:
            type: object
            properties:
              referrer:
                type: string
              views:
                type: integer
              percentage:
                type: number
        dateRange:
          type: string